{% extends "base.html" %}

{% block title %} The Switchable Painting {% end %}

{% block content %}

    <div class="span-18 last" id="tsp-title">
        The Switchable Painting
    </div>
    <div class="span-24">
       <p>
        The Switchable Painting uses AR technology and gesture recognition allowing you to explore works of art through your mobile camera.
       </p>
    </div>
    <div class="span-24" id="enhance-container">
        <b class="span-24" style="font-size:1.4em">Enhance the collection</b>
        <p class="span-24" >
            Enhance TSP's knowledge by uploading a painting to the collection. TSP currently knows of..
        </p>
        <div class="span-24">
            <div class="span-16 prepend-8" id="tsp-knowledge">
                <div class="span-8">
                    10 paintings
                </div>
                <div class="span-8 last">
                    121 unique feature points
                </div>
            </div>
        </div>
        <a class="UI-button" id="show-upload-painting-btn">
            Upload a painting
        </a>
        <div style="display:none" class="span-24" id="upload-painting-container">
            <form enctype="multipart/form-data" action="/panel/upload" method="POST">
                <div id="upload-controls">
                    <input name="uploaded-file" type="file" /><br />
                    <div style="margin-top: 15px;">
                        <a class="UI-button" id="upload-painting-btn">
                            Upload
                        </a>
                        <a id="cancel-upload-btn" class="UI-button UI-button-red-back">
                            Cancel
                        </a>
                    </div>
                </div>
                <div style="display:none;" id="upload-bar">
                    Uploading your painting..
                </div>
                <div style="display:none" id="upload-success-controls">
                    <a class="UI-button" id="upload-another-painting-btn">
                        Upload another
                    </a>
                    <a id="upload-analysis-btn" class="UI-button">
                        View painting analysis
                    </a>
                </div>
                <div style="display:none" id="upload-fail-controls">
                    <a class="UI-button" id="upload-fail-painting-btn">
                        Retry
                    </a>
                </div>
            </form>
        </div>
    </div>
{% end %}
