{% extends "base.html" %}

{% block title %} The Switchable Painting {% end %}

{% block content %}

    <div class="span-18 last" id="tsp-title">
        The Switchable Painting
    </div>
    <div class="span-18">
       <p>
        The Switchable Painting uses AR technology and gesture recognition so you can explore works of art on your mobile phone.
       </p>
    </div>
    <div id="imgs-container" class="span-18">
        <img src="/static/imgs/tsp1.jpg" />
        <img src="/static/imgs/tsp2.jpg" />
        <img src="/static/imgs/tsp3.jpg" />
    </div>
    <div class="span-18" id="enhance-container">
        <b class="span-18" style="font-size:1.4em">Enhance the collection</b>
        <p class="span-18" >
            Enhance TSP's knowledge by uploading a painting to the collection.
        </p>
        <a class="UI-button" id="show-upload-painting-btn">
            Upload a painting
        </a>
        <div style="display:none" class="span-18" id="upload-painting-container">
            <form enctype="multipart/form-data" action="/panel/upload" method="POST">
                <div id="upload-controls">
                    <div class="span-18" style="font-weight:bold; font-size: 1.2em">Title</div>
                    <input class="span-8" style="margin-bottom:15px" name="painting-title" type="text" />
                    <div class="span-18" style="font-weight:bold; font-size: 1.2em">Artist</div>
                    <input class="span-8" style="margin-bottom:15px" name="painting-artist" type="text" /><br />
                    <div class="span-18" style="font-weight:bold; font-size: 1.2em">Tags (comma-separated)</div>
                    <input class="span-8" style="margin-bottom:15px" name="painting-tags" type="text" /><br />
                    <div class="span-18" style="font-weight:bold; font-size: 1.2em">Descriptor Type</div>
                    <select style="margin-bottom:15px" name="painting-strategy" id="painting-strategy" class="span-8">
                        <option value="0">Intensity Histogram</option>
                        <option value="1">SIFT</option>
                    </select>
                    <div class="span-18" style="font-weight:bold; font-size: 1.2em">Painting image</div>
                    <input class="span-18" style="margin-top:10px;"name="uploaded-file" type="file" /><br />
                    <div class="span-18" style="margin-top: 20px;">
                        <a class="UI-button" id="upload-painting-btn">
                            Upload
                        </a>
                        <a id="cancel-upload-btn" class="UI-button UI-button-red-back">
                            Cancel
                        </a>
                    </div>
                </div>
                <div style="display:none;" id="upload-bar">
                    Uploading your painting..
                </div>
                <div style="display:none" id="upload-success-controls">
                    <input type="hidden" id="pID" value=""></input>
                    <a class="UI-button" id="upload-another-painting-btn">
                        Upload another
                    </a>
                    <a id="upload-analysis-btn" class="UI-button">
                        View painting analysis
                    </a>
                </div>
                <div style="display:none" id="upload-fail-controls">
                    <a class="UI-button" id="upload-fail-painting-btn">
                        Retry
                    </a>
                </div>
            </form>
        </div>
    </div>
{% end %}

{% block template-scripts %}
    <script src="{{ static_url('js/tsp.panel.js') }}" type="text/javascript"></script>
{% end %}
